@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
    /* font-family: 'Lemon', serif; */
}

:root{
    --primary-color: #030637;
}

.container{
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, .75);
    text-align: center;
    border-radius: 5px;
    transition: .5s ease-in-out;
    min-width: 300px;
}

.container h1{
    font-family: 'Lemon', serif;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.search input{
    outline: none;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 4px 2px 4px 8px;
    border-radius: 3px;
    width: 85%;
}

.search button{
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 7px 8px;
    cursor: pointer;
}

.place-date #city{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.place-date #date{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.weather-menu, .error-menu{
    display: none;
    font-family: 'Poppins', sans-serif;
}

.weather-menu, .error-menu{
    transition: .5s ease-in-out;
}

hr{
    margin: 10px auto;
    width: 100%;
}

.place-date{
    margin: 10px 0;
}

.weather-img img{
    height: 100px;
    width: 100px;
    border-radius: 3px;
    /* box-shadow: 2px 2px 2px; */
}

.weather-img .weather-temprature{
    font-size: 48px;
    margin: 5px 0;
    font-weight: bold;
}

.weather-img .weather-condition{
    font-weight: bold;
}

.title{
    font-size: 10px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 3px;
    margin: 5px 0 10px;
    font-family: 'Lemon', serif;
}

.title a{
    color: white;
    text-decoration: none;
}

